@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply py-2 px-4 m-4 bg-gradient-to-t from-yellow-300 via-amber-400 to-orange-500 rounded-full font-raleway font-bold text-zinc-700;
  }

  .btn-secondary {
    @apply py-2 px-4 m-4 bg-gradient-to-t from-cyan-300 via-teal-400 to-emerald-500 rounded-full font-raleway font-bold text-zinc-700;
  }

  .buck-title {
    @apply font-bold sm:text-8xl text-6xl font-monoton sm:ml-0 ml-28 transition-all ease-in;
  }

  .buck-titlebox {
    @apply flex flex-row mt-10 mr-10 sm:justify-end justify-center items-end transition-all ease-in;
  }

  .btn-group {
    @apply flex py-4 px-8;
  }

  .group-button {
    @apply no-underline m-0 py-4 px-8 bg-gradient-to-t from-cyan-500 to-sky-600 font-raleway font-bold text-zinc-700;
  }

  .btn-group .group-button:first-child {
    @apply rounded-tl-[3.2rem] rounded-bl-[.8rem] rounded-r-none;
  }

  .btn-group .group-button:not(:last-child) {
    @apply border-l border-l-indigo-800 border-r-0;
  }

  .btn-group .group-button:not(:first-child) {
    @apply border-l border-l-indigo-800;
  }

  .btn-group .group-button:last-child {
    @apply rounded-l-none rounded-tr-[.8rem] rounded-br-[3.2rem] border-r-2;
  }

  .group-button:hover {
    @apply bg-black text-white;
  }

  .group-button:active {
    @apply bg-white text-black;
  }

}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

nav {
  position: sticky;
  top: 10px;
  left: 0;
  height: 3rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-right: 2rem;
  background-color: #1e3a8a;
  color: #fcd34d;
  border-radius: 2rem 0 0 2rem;
}

.nav-img-link {
  border-radius: 50%;
  height: 3rem;
  min-width: 3rem;
  display: block;
}

.nav-link {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  color: #fcd34d;
  padding: .6rem 1.2rem;
} 
.nav-link:hover {
  color: #fdfcdc;
}

.nav-link-info {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  color: #fdfcdc;
}
.nav-link-info:hover {
  color:#003d5b;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-dropdown {
  float: left;
  overflow: hidden;
  padding: .6rem 1.2rem;
}

.nav-drop-btn {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  color: #fcd34d;
  border: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.nav-drop-btn:hover {
  color: #fdfcdc;
}


.nav-drop-content {
  position: absolute;
  background-color: #00afb9;
  color: #003d5b;
  min-width: 160px;
  box-shadow: 3px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background: linear-gradient(180deg, #1e3a8a 0%, #38bdf8 100%);
}

.nav-link {
  float: none;
  padding: .6rem 1.2rem;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.nav-drop-btn {
  padding: .6rem 1.2rem;
  cursor: pointer;
}

.nav-drop-btn:hover {
  color: #fdfcdc;
}

.nav-remember {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-top: 1rem;
}